.header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 11;
    width: 100%;
    background-color: var(--white-color);
    border-bottom: var(--border);
}
.header__wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5em 2rem;
}
.header__logo {
    font-size: 2.5rem;
    color: var(--black-color);
}
.header__form {
    width: 50rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    border-radius: 0.5rem;
    background-color: var(--light-bg);
    padding: 1.5rem 2rem;
    transition: 0.3s linear;
}
.header__search {
    width: 100%;
    font-family: inherit;
    font-size: 2rem;
    color: var(--black-color);
    background: none;
}
.header__btn {
    font-size: 2rem;
    color: var(--black-color);
    background: none;
    transition: color 0.3s;
    cursor: pointer;
}
.header__btn:hover {
    color: var(--main-color);
}
.header__icon {
    width: 4.5rem;
    height: 4.5rem;
    font-size: 2rem;
    line-height: 4.4rem;
    text-align: center;
    color: var(--black-color);
    border-radius: 0.5rem;
    background-color: var(--light-bg);
    padding: 0;
    cursor: pointer;
    transition: color 0.3s, background-color 0.3s;
    margin-left: 0.5rem;
}
.header__icon:hover {
    background-color: var(--black-color);
    color: var(--white-color);
}
.header__search-mobile {
    display: none;
}