@media (max-width: 991px) {
    html {
        font-size: 55%;
    }
    .figure {
        flex: 1 1 45%;
    }
}

@media (max-width: 769px) {
    .header__search-mobile {
        display: inline-block;
    }
    .header__form {
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        width: auto;
        border-top: var(--border);
        border-bottom: var(--border);
        background-color: var(--white-color);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0)
    }
    .header__form.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%)
    }
    .about__img {
        height: auto;
    }
    .contact__wrapper {
        flex-direction: column;
    }
    .contact__image {
        margin-bottom: 1rem;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }
    .sidebar.active {
        width: 100%;
        flex-shrink: 0;
    }
    .section-title {
        font-size: 2rem;
    }
    .btn-flex {
        flex-flow: column;
        grid-template: 0;
    }
    .figure {
        flex: 1 1 100%;
        justify-content: center;
    }
    .playlist__thumb {
        height: 20rem;
    }
    .watch-video__back-btn {
        width: 100%;
        margin-bottom: 1rem;
    }
    .watch-video__like-btn {
        width: 100%;
    }
    .comment__btns-form {
        display: flex;
        flex-direction: column;
    }
    .comment__edit {
        width: 100%;
        margin-right: 0;
        margin-bottom: 1rem;
    }
    .comment__delete {
        width: 100%;
    }
    .contact__image {
        flex: auto;
    }
    .contact__img {
        height: auto;
    }
    .update__form {
        width: 100%;
    }
}