.profile-form {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 20rem);
}
.profile-form__form {
    width: 50rem;
    background-color: var(--white-color);
    border-radius: 0.5rem;
    padding: 2rem;
}
.profile-form__title {
    font-size: 2.5rem;
    font-weight: 700;
    text-transform: capitalize;
    text-align: center;
    color: var(--black-color);
    margin-bottom: 1rem;
}
.profile-form__label {
    display: block;
    font-size: 1.7rem;
    color: var(--light-color);
    text-transform: capitalize;
    padding-bottom: 1rem;
}
.profile-form__label span {
    color: var(--red-color);
}
.profile-form__input {
    width: 100%;
    font-size: 1.8rem;
    color: var(--black-color);
    border-radius: 0.5rem;
    background-color: var(--light-bg);
    padding: 1.4rem;
    margin: 0 0 2rem;
}
